{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agrodiamond</title>
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

    <link rel="stylesheet" href="{% static 'css/mislider.css' %}">
    <link rel="stylesheet" href="{% static 'css/lsb.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- //custom-theme -->
    <link href="{% static 'css/swiper-bundle.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->
    <link href="{% static 'css/mislider.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/mislider-custom.css' %}" rel="stylesheet" type="text/css"/>
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">

    <!-- //font-awesome-icons -->

    <link href="http://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin-ext" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">






</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top" style="min-height:80px">
    <div class="container">
        <a class="" href="#"><img style="width: 100px" src="{% static 'images/agro.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center me-auto">
                <li class="nav-item">
                    <a class="nav-link active fs-5 me-4" aria-current="page" href="{% url 'home' %}" style="color: #2c810e">{% translate 'Bosh sahifa' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 me-4" href="#" style="color: #2c810e">{% translate 'Biz haqimizda' %}</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link fs-5" href="#" style="color: #2c810e">{% translate 'Kontakt' %}</a>
                </li>


            </ul>

            <ul class="navbar-nav text-center">
                 <li class="nav-item fs-5">

                    {% for l in LANGUAGES %}
                        <a href="/{{ l.0 }}" class="" style="text-decoration: none; color: #2c810e">
                            {{ l.1 }}
                        </a>
                    {% endfor %}

                </li>

            </ul>


        </div>
    </div>
</nav>
<div class="">
{% block content %}
{% endblock %}
</div>

</body>

<footer class="forma">
    <div class="container t">
        <div class="row">
            <div class="col-lg-1 col-4">
                <div>
                    <img width="60" src="{% static 'images/phone-.png' %}" alt="">
                </div>
                <div>
                    <img class="mt-5" width="60" src="{% static 'images/email.png' %}" alt="">
                </div>
                <div>
                    <img class="mt-5" width="60" src="{% static 'images/location.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-6">
                 <ul>
                    <li>
                        <a href="tel:+998974289977" class="fadeInUp wow fs-5 text-white" style="text-decoration: none">+99890
                            036 12 34</a>
                    </li>
                    <li>
                        <a href="tel:+998974289977" class="fadeInUp wow fs-5 text-white" style="text-decoration: none">+998
                            33 036 12 34</a>
                    </li>
                    <li class="mt">
                        <a class="fadeInUp wow fs-5 text-white" style="text-decoration: none" href="info@gozaltabiat.uz">info@agrodiamond.uz</a>
                    </li>
                     <li class="mt">
                        <a class="fadeInUp wow fs-5 text-white" style="text-decoration: none" href="info@gozaltabiat.uz">Tashkent, Uzbekistan</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="text-center mt-5 mb-5">
                    <li>
                        <a class="fs-5 text-white" href="" style="text-decoration: none"><span class="txa">Home</span></a>
                    </li>
                    <li>
                        <a class="fs-5 text-white txa" href="" style="text-decoration: none"><span class="txa">About</span></a>
                    </li>
                    <li>
                        <a class="fs-5 text-white txa" href="" style="text-decoration: none"><span class="txa">Contact</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <form class="">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-white">Email address</label>
                        <input style="background: white" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label text-white">Phone Number</label>
                        <input  style="background: white" type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                    </div>

                    <button type="submit" class="btn fs-5 btnn text-white mt-4">Order</button>
                </form>
            </div>
        </div>
        <div class="container bottom">
            <div class="border"></div>
            <div class="row">
                <div class="col-lg-6 mt-5">
                    <span class="fs-6 text-white">2023 © {% translate 'Barcha huquqlar himoyalangan' %}. AgroDiamond</span>
                </div>
                <div class="col-lg-6 mt-5">
                    <ul class="d-flex text-center mb-5 agileits_social_list">
                        <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook fs-4 me-4" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" class="w3_agile_instagram"><i class="fa fa-instagram fs-4 me-4" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-telegram fs-4" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>






<!-- //stats -->
<!-- mislider -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/mislider.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var slider = $('.mis-stage').miSlider({
            //  The height of the stage in px. Options: false or positive integer. false = height is calculated using maximum slide heights. Default: false
            stageHeight: 380,
            //  Number of slides visible at one time. Options: false or positive integer. false = Fit as many as possible.  Default: 1
            slidesOnStage: false,
            //  The location of the current slide on the stage. Options: 'left', 'right', 'center'. Defualt: 'left'
            slidePosition: 'center',
            //  The slide to start on. Options: 'beg', 'mid', 'end' or slide number starting at 1 - '1','2','3', etc. Defualt: 'beg'
            slideStart: 'mid',
            //  The relative percentage scaling factor of the current slide - other slides are scaled down. Options: positive number 100 or higher. 100 = No scaling. Defualt: 100
            slideScaling: 150,
            //  The vertical offset of the slide center as a percentage of slide height. Options:  positive or negative number. Neg value = up. Pos value = down. 0 = No offset. Default: 0
            offsetV: -5,
            //  Center slide contents vertically - Boolean. Default: false
            centerV: true,
            //  Opacity of the prev and next button navigation when not transitioning. Options: Number between 0 and 1. 0 (transparent) - 1 (opaque). Default: .5
            navButtonsOpacity: 1,
        });
    });
</script>
<!-- //mislider -->
<!-- text-effect -->
<script type="text/javascript" src="{% static 'js/jquery.transit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.textFx.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.test').textFx({
            type: 'fadeIn',
            iChar: 100,
            iAnim: 1000
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.testt').textFx({
            type: 'fadeIn',
            iChar: 100,
            iAnim: 7000
        });
    });
</script>
<!-- //text-effect -->
<!-- menu -->


<script>
    $(function () {

        initDropDowns($("div.shy-menu"));

    });

    function initDropDowns(allMenus) {

        allMenus.children(".shy-menu-hamburger").on("click", function () {

            var thisTrigger = jQuery(this),
                thisMenu = thisTrigger.parent(),
                thisPanel = thisTrigger.next();

            if (thisMenu.hasClass("is-open")) {

                thisMenu.removeClass("is-open");

            } else {

                allMenus.removeClass("is-open");
                thisMenu.addClass("is-open");
                thisPanel.on("click", function (e) {
                    e.stopPropagation();
                });
            }

            return false;
        });
    }
</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->

<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>