{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block content %}
<div class="banner">

    <div class="w3_banner_info_grid container" style="line-height:1.5em">
        <h3 class="test">Agro Diamond is a guarantee of high productivity</h3>
        <h3 class="testt"></h3>
        <p></p>
        <ul>
            <li><a href="contact.html" class="w3l_contact">Contact Us</a></li>
            <li><a href="#" class="w3ls_more" data-toggle="modal" data-target="#myModal">Read More</a></li>
        </ul>
    </div>
    <div class="thim-click-to-bottom">
        <a href="#welcome_bottom" class="scroll">
            <i class="fa  fa-chevron-down"></i>
        </a>
    </div>



</div>

<div class="welcome">
		<div class="container">
			<h3 class="agileits_w3layouts_head">Our <span>partners</span></h3>
			<div class="w3_agile_image text-center">
				<img src="{% static 'images/1.png' %}" alt=" " class="img-responsive" />
			</div>
			<p class="agile_para">We work in cooperation with the world's top companies</p>
		</div>
<!---728x90--->

		<div class="mis-stage w3_agileits_welcome_grids">
        <!-- The element to select and apply miSlider to - the class is optional -->
        <ol class="mis-slider">
            <li class="mis-slide">
                <figure>
                    <img src="{% static 'images/brand2.jpg' %}" alt=" " class="img-responsive"/>
                    <figcaption>Strawberry</figcaption>
                </figure>
            </li>

            <li class="mis-slide">
                <figure>
                    <img src="{% static 'images/brand4.jpg' %}" alt=" " class="img-responsive"/>
                    <figcaption>Pomegranates</figcaption>
                </figure>
            </li>
            <li class="mis-slide">
                <figure>
                    <img src="{% static 'images/brand5.jpg' %}" alt=" " class="img-responsive"/>
                    <figcaption>Lemon</figcaption>
                </figure>
            </li>
            <li class="mis-slide">
                <figure>
                    <img src="{% static 'images/brand6.jpg' %}" alt=" " class="img-responsive"/>
                    <figcaption>Kiwi Fruits</figcaption>
                </figure>
            </li>
            <li class="mis-slide">
                <figure>
                    <img src="{% static 'images/brand1.webp' %}" alt=" " class="img-responsive"/>
                    <figcaption>Apples</figcaption>
                </figure>
            </li>
        </ol>
    </div>
</div>

<bodyy>

 <div class="slide-container swiper container">
     <div class="container mb-4">
         <h3 class="agileits_w3layouts_head">{% translate 'Bizning<span> Mahsulotlar</span>' %}</h3>
         <div class="w3_agile_image text-center">
             <img src="{% static 'images/1.png' %}" alt=" " class="img-responsive"/>
         </div>

     </div>

            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    {% for cat in categories %}
                    <div class="card swiper-slide text-center" style="width: 18rem;">
                        {% if cat.file %}
                            <a href="{% url 'post' cat.id %}"><img src="{{ cat.file.url }}" class="card-img-top card-image" alt="..."></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ cat.name }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="{% url 'post' cat.id %}" class="btn btn-primary mt-2">
                                {% translate 'Batafsil' %}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
</bodyy>
{% endblock %}

